/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pokemon GB";
    src: url("../fonts/Pokemon_GB.eot") format("eot"), url("../fonts/Pokemon_GB.woff") format("woff"),
        url("../fonts/Pokemon_GB.ttf") format("truetype"), url("../fonts/Pokemon_GB.svg#PokemonGB") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}


.container {
    background-color: #C8BFE7;
    padding: 10px;
}

@media (max-width: 600px) {
    .container {
        background-color: #C8BFE7;
        padding: 10px;
    }
}

