/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pokemon GB";
    src: url("../fonts/Pokemon_GB.eot") format("eot"), url("../fonts/Pokemon_GB.woff") format("woff"),
        url("../fonts/Pokemon_GB.ttf") format("truetype"), url("../fonts/Pokemon_GB.svg#PokemonGB") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}


.container {
    background-color: #C8BFE7;
    padding: 10px;
}


.main {
    background: rgb(187, 187, 187);
    background: linear-gradient(113deg, rgba(187, 187, 187, 1) 62%, rgba(148, 148, 148, 1) 79%);
    column-count: 2;
}

.main .body-1{
}

.main .body-1 .name{
    display: flex;
    background-color: #F6F6F6;
    border-radius: 2vw;
}
