/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pokemon GB";
    src: url("../fonts/Pokemon_GB.eot") format("eot"), url("../fonts/Pokemon_GB.woff") format("woff"),
        url("../fonts/Pokemon_GB.ttf") format("truetype"), url("../fonts/Pokemon_GB.svg#PokemonGB") format("svg");
    font-weight: normal;
    font-style: normal;
}

.main {
    background: rgb(187, 187, 187);
    background: linear-gradient(113deg, rgba(187, 187, 187, 1) 62%, rgba(148, 148, 148, 1) 79%);
    column-count: 2;
    display: flex;
}

.main .body-1{

    display: block;
    text-align: center;
    width: 55vw

}

.main .body-1 .name {
    background-color: #f6f6f6;
    margin-top: 2vw;
    margin-left: 8.6vw;
    border-radius: 2vw;
    width: 32vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Pokemon GB";
}

.main .body-1 .name .flame{
    width: 35px;
    margin-right: 12px;
    margin-top: -8px;
}

.main .body-1 .name h3{
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.main .body-1 .img-pok{
    width: 21vw
}

.main .body-2{

    
    display: block;
    text-align: center;
    width: 55vw
} 

.main .body-2 .status{
    background-color: #f6f6f6;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    border-radius: 2vw;
    width: 38vw;
    display:flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Pokemon GB";

}

.main .body-2 .status h5{
    
    color: #C7C7C7;
    text-transform: uppercase;

}
.main .body-2 .status .status-1 div, .main .body-2 .status .status-2 div{
    
    margin-top: 3vw;
    margin-bottom: 3vw

}




