<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="pokedex/css/footer.css" />

</head>

<body>
    <div class="footer">
        <div class="body-1">
            <div class="name">
                <img class="flame" src="./pokedex/assets/symbols/flame.png" alt="">
                <h3>charizard</h3>
            </div>
            <div class="pokemon">
                <img class="img-pok" src="./pokedex/assets/pokemon/Charizard.png" alt="">
            </div>
        </div>
        <div class="body-2">
            <div class="status">
                <div class="status-1">
                    <div>
                        <h5>
                            no.
                        </h5>
                        <h3>
                            006
                        </h3>
                    </div>
                    <div>
                        <h5>
                            type
                        </h5>
                        <h3>
                            FIRE
                        </h3>
                    </div>
                    <div>
                        <h5>
                            height
                        </h5>
                        <h3>
                            1,7 m
                        </h3>
                    </div>
                </div>
                <div class="status-2">
                    <div>
                        <h5>
                            level
                        </h5>
                        <h3>
                            100
                        </h3>
                    </div>
                    <div>
                        <h5>
                            hability
                        </h5>
                        <h3>
                            FLAMES
                        </h3>
                    </div>
                    <div>
                        <h5>
                            weight
                        </h5>
                        <h3>
                            90,5 Kg
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>