<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="pokedex/css/footer.css" />

</head>

<body>
    <div class="footer">
        <div class="text-1">
            <h3>OTHERS</h3>
        </div>
        <div class="cards">
            <div class="card">
                <img class="normal" src="./pokedex/assets/pokemon/squirtle.png" alt="">
                <img class="glasses" src="./pokedex/assets/pokemon/vamoacalmarno.png" alt="">
            </div>
            <div class="card">
                <img src="./pokedex/assets/pokemon/Mewtwo.png" alt="">
            </div>
            <div class="card">
                <img src="./pokedex/assets/pokemon/Solgaleo.png" alt="">
            </div>
            <div class="card">
                <img src="./pokedex/assets/pokemon/Snorlax.png" alt="">
            </div>
        </div>

    </div>
    <div class="footer_mobile">
        <div class="text-1">
            <h3>OTHERS</h3>
        </div>
        <div class="cards">
            <div class="card">
                <img class="normal" src="./pokedex/assets/pokemon/squirtle.png" alt="">
                <img class="glasses" src="./pokedex/assets/pokemon/vamoacalmarno.png" alt="">
            </div>
            <div class="card">
                <img src="./pokedex/assets/pokemon/Mewtwo.png" alt="">
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="./pokedex/assets/pokemon/Solgaleo.png" alt="">
            </div>
            <div class="card">
                <img src="./pokedex/assets/pokemon/Snorlax.png" alt="">
            </div>
        </div>

    </div>
</body>

</html>