<head>
    <link rel="stylesheet" href="css/header.css" />

</head>

<body>
    <div class="header">
        <div class="pokeball">
            <div class="pokeball__button"></div>
        </div>
        <div class="title">
            <h2 class="">Pokédex_</h2>
        </div>
    </div>
    <div class="header_mobile">
        <div class="pokeball">
            <div class="pokeball__button"></div>
        </div>
        <div class="title">
            <h2 class="">Pokédex_</h2>
        </div>
    </div>
</body>

</html>