<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="pokedex/css/header.css" />

</head>

<body>
    <div class="header">
        <div class="pokeball">
            <div class="pokeball__button"></div>
        </div>
        <div class="title">
            <h2 class="">Pokédex_</h2>
        </div>
    </div>
    <div class="header_mobile">
        <div class="pokeball">
            <div class="pokeball__button"></div>
        </div>
        <div class="title">
            <h2 class="">Pokédex_</h2>
        </div>
    </div>
</body>

</html>