<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="pokedex/css/main.css" />

</head>

<body>
    <div class="main">
        <div class="body-1">
            <div class="name">
                <img class="flame" src="./pokedex/assets/symbols/flame.png" alt="">
                <h1>charizard</h1>
            </div>
            <div class="pokemon">
                <img class="img-pok" src="./pokedex/assets/pokemon/Charizard.png" alt="">
            </div>
        </div>
        <div class="body-2">
            <div class="name">
                <h1>charizard</h1>
            </div>
        </div>

    </div>
</body>

</html>